Repository STEMers/stemers-main, pull requests merged in 2022-05, with the labels that each got.

#1 user-story
  backlog.md
Labels: planning, backlog

#19 data model
  data_model.md
  data_model.png
Labels: data

#20 adding user personas
  images/user-persona1.png
  images/user-persona2.png
  images/user-persona3.png
  user-personas.md
Labels: user-personas
